.container {
    display: flex;
    flex-wrap: wrap;
    .card {
        background-color: rgba(230, 231, 219, 0.723);
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 300px;
        height: 400px;
        margin-bottom: 40px;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.05);
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .card-body {
            padding: 15px;

            .card-title {
                font-size: 1.25rem;
                margin-bottom: 10px;
            }

            .card-text {
                font-size: 1rem;
                color: #555;
            }
        }
    }
}
body {
    background-image: url('https://wallpapercave.com/wp/wp2649819.jpg')!important;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
  }