

<div class="container ">
    <div class="card">
    <div class="row">
        <div class="col-md-8 " id="image">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://wallpapercave.com/wp/MgMYE5Z.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://wallpapercave.com/wp/wp2649818.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://wallpapercave.com/wp/wp2649828.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://wallpapercave.com/wp/wp2649833.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-4" id="text">
            <div class="body">
                <p>Kerala tourism revolves around its natural beauty, diverse landscapes, and rich cultural heritage.
                    Known as "God's Own Country", Kerala attracts visitors with its tranquil backwaters, scenic beaches,
                    lush hill stations, and vibrant wildlife sanctuaries. The state offers opportunities for houseboat
                    cruises, beach activities, trekking, wildlife safaris, and Ayurvedic wellness retreats. Its cultural
                    richness is evident in traditional dance forms, festivals, and flavorful cuisine. Kerala's blend of
                    serenity and adventure makes it a popular destination for both domestic and international travelers
                    seeking relaxation, exploration, and cultural immersion in southern India.</p>
            </div>
        </div>
    </div>
    </div>
</div>